<header><h2 class='page-title'>Favorite Pets</h2></header>
<section class='cards-container'>
  <% unless @favorite_pets %>
    <%= "You haven't favorited any pets yet." %>
  <% else %>
    <% @favorite_pets.each do |pet| %>
      <article id="pet-<%= pet.id %>" class='pet card'>
        <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
        <img src=<%= pet.image %> />
      </article>
    <% end %>
    <%= button_to "Remove All Favorited Pets", "/favorites", method: :delete %>
  <% end %>
</section>
