<header><h2 class='page-title'>Favorite Pets</h2></header>
<section class='cards-container'>
  <% if !@favorite_pets %>
    <%= "You haven't favorited any pets yet." %>
  <% elsif @favorite_pets.empty? %>
    <%= "You haven't favorited any pets yet." %>
  <% else %>
    <% @favorite_pets.each do |pet| %>
      <article id="pet-<%= pet.id %>" class='pet card'>
        <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
        <img src=<%= pet.image %> />
        <p><%= button_to "Remove from favorites", "/favorites/index/#{pet.id}", method: :delete %>
      </article>
    <% end %>
    <%= button_to "Remove All Favorited Pets", "/favorites", method: :delete %>
    <%= button_to "Apply to adopt", "/application", method: :get %>
  <% end %>
</section>
<section id="pets-with-applications">
  <% if @applied_pets %>
    <% @applied_pets.each do |pet| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <% end %>
  <% end %>
</section>
