<article class='pet-application-details'>
  <h2>Pet Application Number <%= @pet_application.id %></h2>
  <p>Name: <%= @pet_application.application.name %></p>
  <p>Address: <%= @pet_application.application.address %></p>
  <p>City: <%= @pet_application.application.city %></p>
  <p>State: <%= @pet_application.application.state %></p>
  <p>Zip: <%= @pet_application.application.zip %></p>
  <p>Phone Number: <%= @pet_application.application.phone_number %></p>
  <p>Description: <%= @pet_application.application.description %></p>
    <section class="pets-on-application">
    <% @pet_application.application.pets.each do |pet| %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <%= link_to 'Approve Application', "/applications/#{@pet_application.id}", method: :patch%>
    <% end %>
  <section>
</article>
