<article class='pet-application-details'>
  <h2>Pet Application Number <%= @application.id %></h2>
  <p>Name: <%= link_to "#{@application.name}", "/applications/#{@application.id}"%></p>
  <p>Address: <%= @application.address %></p>
  <p>City: <%= @application.city %></p>
  <p>State: <%= @application.state %></p>
  <p>Zip: <%= @application.zip %></p>
  <p>Phone Number: <%= @application.phone_number %></p>
  <p>Description: <%= @application.description %></p>
    <section class="pets-on-application">
    <% @application.pets.each do |pet| %>
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <% if pet.status == 'pending' && pet.approved_app == @application.id %>
        <%= link_to 'Revoke Application', "/applications/#{@application.id}/#{pet.id}", method: :patch%><br>
      <% elsif pet.status == 'adoptable' %>
        <%= link_to 'Approve Application', "/applications/#{@application.id}/#{pet.id}", method: :patch%><br>
      <% end %>
    <% end %>
  <section>
</article>
