<header><h2 class='page-title'>All Pets</h2></header>
<section class='cards-container'>
  <% @pets.each do |pet| %>
    <article id="pet-<%= pet.id %>" class='pet card'>
      <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
      <img src=<%= pet.image %> />
      <p>Age: <%= pet.age %></p>
      <p>Sex: <%= pet.sex %></p>
      <p>Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %></p>
      <%= link_to "Edit Pet", "/pets/#{pet.id}/edit" %>
      <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
    </article>
  <% end %>
</section>
