<h2><%= @pet.name %></h2>
<img src=<%= @pet.image %> />
<p>Gender: <%= @pet.sex %></p>
<p>Age: <%= @pet.age %></p>
<p>Description: <%= @pet.description %></p>
<p>Adoptable: <%= @pet.adoptable %></p>
<%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete %>
<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit", method: :get %>

<% if session[:favorites] && session[:favorites].include?(@pet.id.to_s) %>
  <%= button_to 'Remove from favorites', "/favorites/#{@pet.id}", method: :delete %>
<% else %>
  <%= button_to 'Add to favorites', "/favorites/#{@pet.id}", method: :patch %>
<% end %>
