<h1><%= @shelter.name %> Pets<h1>
<% @shelter.pets.each do |pet| %>
  <article class='pet' id="pet-<%= pet.id %>" >
    <h2><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h2>
    <img src=<%= pet.image %> />
    <p>Age: <%= pet.age %></p>
    <p>Sex: <%= pet.sex %></p>
    <%= link_to "Edit Pet", "/pets/#{pet.id}/edit" %>
    <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
  </article>
<% end %>
<p><%= button_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new", method: :get %></p>
