<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <h1 id="site-title">Adopt Don't Shop</h1>
      <nav class="menu">
        <%= link_to 'Pets', '/pets' %>
        <%= link_to 'Shelters', '/shelters' %>
        <p>Favorite Pet Count: <%= @favorites.total_count %></p>
      </nav>
    </header>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
